* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;

}

iframe {
    width: 60vw;
    height: 80vh;
    background-color: #ffffff;
}

ul {

    padding: 10px 0px 10px 0px;
    background-color: #1a1a80;
    border-radius: 10px;
    justify-content: center;
}

header {
    display: inline-flex;
    flex-wrap: nowrap;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 99.2%;
    color: #fff;
    font-weight: bolder;
    justify-content: center;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 5px;
    list-style-type: none;
}



nav ul a {
    display: inline-block;
    background-color: #007bff;
    border: none;
    color: #fff;
    margin: 1px;
    padding: 12px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    min-width: 60px;

}


a {
    transition: 0.3s;
}

a:hover {
    font-size: 1.10em;
    transition: 0.3s;
}

ul button:hover {
    transition: 0.3s;
    font-size: 1.10em;

}

ul .button {
    display: inline-block;
    background-color: #007bff;
    border: none;
    color: #fff;
    margin: 1px;
    margin-left: 25px;
    padding: 12px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 25px;
}


ul .button span {

    padding: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a80;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


.dark-mode {
    background-color: #0b112f;
    color: #ffffff;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    border-radius: 4px;
    position: relative;
    width: 800px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}


.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

.modal__content h1 {
    color: #000000 !important;
}

.modal__content p {
    color: #000000 !important;
}

#principal {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin-top: 110px;
}


.post {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 51vw;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

}

.post h2 {

    text-align: center;
}
.post p{
    text-align: center;
}

#paginaActual {

    background-color: rgb(255, 166, 0);
}

.centrado {
    display: flex;
    justify-content: center;
    margin: 10px;
}

img {
    display: flex;
    height: 800px;
}

#catjam{
    display: flex;
    margin-top: 40px;
    border-radius: 5px;
    height: 400px;
}